.timer-widget h3 {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  padding-top: 13px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.timer-widget h3, p {
  margin-top: 0;
}
.timer-widget  {
  left: 5px !important;
  top: auto !important;
  right: auto !important;
  bottom: 130px !important;
  width: auto;
  height: auto;
  padding: 2px !important;
  z-index: 0;
  position: absolute;
}
.jimu-widget-onscreen-icon.jimu-state-selected{
  bottom: 87px !important;
}
@media (max-width: 600px) {
  .timer-widget h3 {
    font-size: 0.75em;
    color: white;
    font-weight: bold;
    padding-top: 9px;
    width: 30px !important;
    height: 50px !important;
    text-align: center;
  }
  .timer-widget  {
    left: 8px !important;
    top: auto !important;
    right: auto !important;
    bottom: 98px !important;
    width: auto;
    height: auto;
    padding: 2px !important;
    z-index: 0;
    position: absolute;
  }
  .jimu-widget-onscreen-icon.jimu-state-selected{
    bottom: 70px !important;
    width: 25px !important;
    height: 25px !important;
  }
}
/* add additional custom styles */