.timer-widget h3 {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  padding-top: 13px;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: dodgerblue;
  border-radius: 30px;
  left: 0px !important;
  bottom: 0px !important;
}
.timer-widget h3, p {
  margin-top: -8px;
  margin-left: -10px;
}
.timer-widget {
  left: 0px !important;
  top: auto !important;
  right: auto !important;
  bottom: 0px !important;
  width: 40px !important;
  height: 40px !important;
  padding: 2px !important;
  z-index: 0;
  position: absolute;
}
.timer-widget #timer {
  margin-top: 5px;
  margin-left: 0px;
}
.jimu-widget-onscreen-icon {
  bottom: 87px !important;
  left: 46px !important;
  width: 40px;
  height: 40px;
}
@media (max-width: 600px) {
  .timer-widget h3 {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    padding-top: 13px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 30px;
    left: 0px !important;
    bottom: 0px !important;
  }
  .timer-widget h3, p {
    margin-top: -8px;
    margin-left: -10px;
  }
  .timer-widget {
    left: 0px !important;
    top: auto !important;
    right: auto !important;
    bottom: 0px !important;
    width: 40px !important;
    height: 40px !important;
    padding: 2px !important;
    z-index: 0;
    position: absolute;
  }
  .timer-widget #timer {
    margin-top: 5px;
    margin-left: 0px;
  }
  .jimu-widget-onscreen-icon {
    bottom: 87px !important;
    left: 46px !important;
    width: 40px;
    height: 40px;
  }
}