.election-widget h3 {
  font-size: 1.2em;
}
.election-widget h3, p {
  margin-top: 0;
}
.election-widget .square {
  margin-left: 0px;
  margin-top: -20px;
}
.election-widget .winnerNames {
  margin-left: 35px;
  margin-top: 0px;
}
.election-widget .totVotes {
  margin-left: 230px;
  margin-top: -20px;
}
.esriPopup .contentPane {
   position: relative;
   max-height: 300px;
   overflow: auto;
   padding: 10px 6px 6px 10px;
   background-color: hsl(0, 0%, 97%);
   color: hsl(0, 0%, 20%);
   height: 300px;
   width: 270px;
}
.esriPopup #demoChart {
  margin-left: 18px;
  margin-top: 0px;
}
.esriPopup svg {
  width: 175px !important;
  height: 225px !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
.election-widget #yearSliderDiv {
    border-style: solid;
    border-color: dodgerblue;
    color: blue;
}
.election-widget .yearClass {
    width: 84px !important;
}
.election-widget .slick-prev:before, .slick-next:before {
    color: dodgerblue;
}
.election-widget .slick-next:before, .slick-next:before {
    color: dodgerblue;
}
.election-widget .slick-track {
    text-align: center;
    margin-left: 45px;
}
.election-widget .selectedYear0 {
    transform: scale(1.5);
    color: red;
    width: 84px !important;
    text-align: center;
    margin: 0 auto;
}
.election-widget .selectedYear1 {
    transform: scale(1.5);
    color: red;
    width: 118px !important;
    text-align: center;
    margin: 0 auto;
}
.election-widget .expandable-panel {
    width:100%;
    position:relative;
    min-height:52px;
    overflow:auto;
    margin-bottom: 20px;
    border:1px solid #999;
}
.election-widget .expandable-panel-heading {
    width:100%;
    cursor:pointer;
    min-height:50px;
    clear:both;
    background-color:#E5E5E5;
    position:relative;
}
.election-widget .expandable-panel-heading:hover {
    color:#666;
}
.election-widget .expandable-panel-heading h2 {
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
}
.election-widget .expandable-panel-content {
    padding: 10px 10px 10px 10px;
    margin-top: -999px;
}
.election-widget .expandable-panel-content select {
    padding: 4px 0 6px 0;
}
.election-widget .expandable-panel-content select:first-child {
    padding-top: 10px;
}
.election-widget .expandable-panel-content select:last-child {
    padding-bottom: 10px;
}
.election-widget .icon-close-open {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(http://i.imgur.com/Ir4S1H7.png);
    right: 15px;
}
.election-widget .PanelHeader {
    width: 250px;
    height: 20px;
    position: absolute;
    left: 15px;
}
.election-widget #Opacity_control {
    margin-left: 100px;
    margin-bottom: 15px;
    margin-top: -9px;
}
.election-widget #sliderText {
    margin-bottom: -8px;
}
.election-widget #countySummaryText {
    display: inline;
}
.election-widget #winnerDiv {
    display: inline;
}
.election-widget #LoadingDiv {
    display: none;
    position: absolute;
    left: -14px;
    top: -32px;
    bottom: -648px;
    right: -14px;
    background: #000;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 1000;
    overflow: hidden;
}
.election-widget #overlay {
    position: relative;
}
.election-widget #loading {
    text-align: center;
    margin-top: 150px;
}
@media (max-width: 600px) {
    .election-widget #yearSliderDiv {
        margin-left: 30px !important;
    }
    .election-widget .PanelHeader {
        font-size: medium !important;
    }
    .election-widget .expandable-panel {
        overflow: hidden !important;
    }
    .election-widget .Selects {
        width: 230px !important;
    }
    .election-widget .totVotes {
        margin-left: 78px !important;
        margin-top: 0px !important;
    }
}
/* add additional custom styles */